#general{
	margin: 0 auto;
	justify-content: center;
	width: 40%;
	/*background-color: red;*/
	text-align: justify;
	padding-right: 1%;

}

 .lista{
 	font-weight: bold;
 	/*background-color: blue;*/
 }

