html {
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin-top: 1%;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0%;
  background-image: url(fondo.png);
}

#top {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #181515;
  height: 18%;
  font-family: ComicSans;
  /* overflow: hidden; */
}

#logo1{
  font-style: italic; 
  font-weight: bold;
  font-size: 300%;  
  color: #F8F4F4;
  width: 97.7%;
  height: 59%;
  margin-left: 1%;
  overflow: hidden;
}

#primer {
  margin-left: 5%;
}

#logo {
  width: 11%;
  height: 90%;
  margin-top: 0.5%;
  border-radius: 4%;
}

#title {
  height: 60%;
  width: 60%;
  float: right;
  margin-top: 2%;
  margin-right: 5%;
  color: white;
  font-size: 100%;
  overflow: hidden;
}

#buscador {
  color: white;
}

.container-1{
  width: 20%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-1 input#search{
  width: 21vh;
  height: 3.5vh;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#search {
  margin-left: 3%;
  margin-top: 0.5%;
}

#carrito {
  width: 45%;
  margin-left: 3%;  
}

.lista1 {
  margin-right: 0%;
  padding: 0%;
}

ul {
    list-style-type: none;
}

#carrito2 {
  width: 5%;
  height: 5vh;
  overflow: hidden;
  margin-left: 5%;
}

#ini {
  margin-left: 3%;
  width: 10%;
}

li {
    float: left;
    margin-left: 3%;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: #ff0000;
}

#iniciosesion {
  margin-left: 1%;
}

#carrito:hover {
   background-color: red;
   padding: 2%;
}

#menu li>a{
  background-color: #181515;
  color: white;
  padding: 10px;
  display: inline;
  text-decoration: none;
  min-width: 70px;
  float: left;
}
#menu li>a:hover{
  color: #000;
  background-color: red;
}
#menu >li{
  text-align:center;
}
#menu >li>ul{
  display: none;
}
#menu >li:hover>ul {
  display:inline;
}

#logoini {
   width: 20%;
   margin-left: 3%;
}

#logoini {
   width: 12%;
   margin-left: 3%;
}

#ulti {
   width: 10%;
}

.page {
  background: #e2e2e5;
  height: 0%;
  width: 34%;
  position: absolute;
  place-content: center;
  margin-top: 11%;
  margin-left: 20%;
}

@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 345px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 30px 90px 10px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}

#coche {
  width: 100%;
}

#enlaceregistro {
  color: red;
}

#enlaceregistro:hover {
  background-color: #ffffff;
}

