#top {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #181515;
	height: 9%;
	font-family: ComicSans;
	/* overflow: hidden; */
}

#logo1{
	font-style: italic;	
	font-weight: bold;
	font-size: 300%;	
	color: #F8F4F4;
	width: 97.7%;
	height: 59%;
	margin-left: 1%;
	overflow: hidden;
}

#logo {
	width: 11%;
	height: 90%;
	margin-top: 0.5%;
	border-radius: 4%;
}

#primer {
	margin-left: 5%;
}

#title {
	height: 60%;
	width: 60%;
	float: right;
	margin-top: 2%;
	margin-right: 5%;
	color: white;
	font-size: 100%;
	overflow: hidden;
}

#buscador {
	color: white;
}

.container-1{
  width: 20%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-1 input#search{
  width: 21vh;
  height: 3.5vh;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#search {
	margin-left: 3%;
	margin-top: 0.5%;
}

#carrito {
	width: 45%;
	margin-left: 3%;	
}

.lista1 {
	margin-right: 0%;
	padding: 0%;
}

ul {
    list-style-type: none;
}

#carrito2 {
	width: 5%;
	height: 5vh;
	overflow: hidden;
	margin-left: 5%;
}

#ini {
	margin-left: 3%;
	width: 10%;
}

li {
    float: left;
    margin-left: 3%;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: #ff0000;
}

#iniciosesion {
  margin-left: 1%;
}

#carrito:hover {
  background-color: red;
  padding: 2%;
}

#menu li>a{
  background-color: #181515;
  color: white;
  padding: 10px;
  display: inline;
  text-decoration: none;
  min-width: 70px;
  float: left;
}
#menu li>a:hover{
  color: #000;
  background-color: red;
}
#menu >li{
  text-align:center;
}
#menu >li>ul{
  display: none;
}
#menu >li:hover>ul {
  display:inline;
}

#logoini {
	width: 20%;
	margin-left: 3%;
}

#ulti {
	width: 10%;
}