/* el # sirve para id
 y el . sirve para class
 
 body{
 	margin: 0;
 	padding: 0%;
 }

/********************
 * NOMBRE Y PRECIO **
 * ******************/

#marco_nombre_car{
	margin-left: 2%;
	width: 50%;
	height: 5%;
	display: flex;
	align-items: center;
	

	font-weight: bold;
	font-size: 2.5em;
	
}

#nombre_car{
	width: 75%;
	float: left;
	
	color: red;

}

#price_car{
	width: 25%;
	float: right;

	font-size: 0.75em;
	text-align: center;
}


/********************
 **		IMAGENES   **
 * *****************/

#fotos{
	width: 62%;
	height: 40%;
	margin-left: 2%;
}

#foto_principal{
	width: 100%;
	height: 100%;
}

#foto_nupcial{
	width: 100%;
	height: 100%;
}

#mas_fotos{
	width: 103.15%;
	height: 10%;
}

.miniatura_foto{
	width: 19%;
	float: left;
}

 .asd{
 	width: 100%;
 	height: 100%;
 	padding-top: 12%;
 }

 #prb1{margin-right: 0.25%;}
 #prb2{margin-left: 0.25%;}
 .centri{margin-left: 0.25%; margin-right: 0.25%;}


/****************************
 ***	RESTAURAR EL FLOAT **
 ***	ESPACIO ENTRE DIVs **
 ****************************/
 .abc{	clear: left;
 		padding: 1%;}


/**************************
 **	 INFO DEL CONTACTO   **
 * ************************/

#info_contacto{
	/*posicionamiento*/
	position: fixed;
	top: 28%;
	left: 75%;
	width: 15%;
	height: 40%;
	border: solid 1px black;
	

	/*caracteristicas*/
	overflow: hidden;
	border-radius: 4%;
}

#info_contacto_title{
	background: red;
	text-align: center;
}

#todo_contacto{
	padding: 5%;
}

.cada_contacto{
	margin-top: 5%;
}

#enviar_datos{
	justify-content: center;
}

.cuadrado{
	display: inline-flex;
}

#envio{
	justify-content: center;
}

#cuadradito{
	width: 5%;
	margin-right: 1%;
}
#textito{
	width: 90%;
	margin-left: 1%;
}

/***************************
 * DIV PARA CUALQUIER COSA *
 ***************************/
.ficha_tecnica_basica{
	width: 70%;				/*iba a ser del 75% pero como le dado un padding-LEFT(solo left) del 2% me queda en total el 73% para que sea igual
									   73+2=75*/
	padding-left: 	2%;
	margin-left: 	2%;
	border: solid 1px black;
	border-radius: 15px;
													/*Darle sombra al div entero, se puede cambiar xq no me gusta*/
	-webkit-box-shadow: 0 0px 4px #777, 0 0 20px #ccc inset;
	-moz-box-shadow: 	0 0px 4px #777, 0 0 20px #ccc inset;
	box-shadow: 		0 0px 4px #777, 0 0 20px #ccc inset;
}

/************************
 ** FICHA TECNICA BASC **
 ************************/

.ficha_tecnica_titulo{
	font-weight: bold;
	font-size: 150%;
}

.ficha_tecnica_col{
	width: 49%;
	display: inline-flex;

	margin-top: 0.5%;
}


.ficha_tecnica_fila{
	width: 50%;
	
}

/************************
 ** FICHA TECNICA ESPC **
 ************************/

.text_descrip_general{
	text-align: justify;
}

.text_descrip{
	padding: 1%;
}