body{
    margin: 0;
    padding: 0%;
    height: 210vh;
}

#top {
   position: sticky;
   top: 0;
   width: 100%;
   background-color: #181515;
   height: 9%;
   font-family: ComicSans;
   /* overflow: hidden; */
}

#logo1{
   font-style: italic;  
   font-weight: bold;
   font-size: 300%;  
   color: #F8F4F4;
   width: 97.7%;
   height: 59%;
   margin-left: 1%;
   overflow: hidden;
}

#logo {
   width: 11%;
   height: 90%;
   margin-top: 0.5%;
   border-radius: 4%;
}

#primer {
   margin-left: 5%;
}

#title {
   height: 60%;
   width: 60%;
   float: right;
   margin-top: 2%;
   margin-right: 5%;
   color: white;
   font-size: 100%;
   overflow: hidden;
}

#buscador {
   color: white;
}

.container-1{
  width: 20%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-1 input#search{
  width: 21vh;
  height: 3.5vh;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#search {
   margin-left: 3%;
   margin-top: 0.5%;
}

#carrito {
   width: 45%;
   margin-left: 3%;  
}

.lista1 {
   margin-right: 0%;
   padding: 0%;
}

ul {
    list-style-type: none;
}

#carrito2 {
   width: 5%;
   height: 5vh;
   overflow: hidden;
   margin-left: 5%;
}

#ini {
   margin-left: 3%;
   width: 10%;
}

li {
    float: left;
    margin-left: 3%;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: #ff0000;
}

#iniciosesion {
  margin-left: 1%;
}

#carrito:hover {
  background-color: red;
  padding: 2%;
}

#menu li>a{
  background-color: #181515;
  color: white;
  padding: 10px;
  display: inline;
  text-decoration: none;
  min-width: 70px;
  float: left;
}
#menu li>a:hover{
  color: #000;
  background-color: red;
}
#menu >li{
  text-align:center;
}
#menu >li>ul{
  display: none;
}
#menu >li:hover>ul {
  display:inline;
}

#logoini {
   width: 14.5%;
   margin-left: 3%;
}

#ulti {
   width: 10%;
}


footer{
 bottom: 0;
}
.footer-distributed{
 background-color: #292c2f;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: bold 16px sans-serif;
 padding: 55px 50px;
 margin-top: 2.5%;
 height: 12.7%;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}
 
.footer-distributed .footer-left{
 width: 40%;
}
 
.footer-distributed h3{
 color:  #ffffff;
 font: normal 36px 'Cookie', cursive;
 margin: 0;
}
 
.footer-distributed h3 span{
 color:  red;
}
 
 
.footer-distributed .footer-links{
 color:  #ffffff;
 padding: 0;
}
 
.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 color:  inherit;
}
 
.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}
 
 
.footer-distributed .footer-center{
 width: 35%;
}
 
.footer-distributed .footer-center i{
 background-color:  #33383b;
 color: #ffffff;
 font-size: 25px;
 width: 38px;
 height: 40px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}
 
.footer-distributed .footer-center p{
 display: inline-block;
 color: #ffffff;
 vertical-align: middle;
 margin:0;
}
 
.footer-distributed .footer-center p span{
 display:block;
 font-weight: normal;
 font-size:14px;
 line-height:2;
}
 
.footer-distributed .footer-center p a{
 color:  red;
 text-decoration: none;;
}
 
.footer-distributed .footer-right{
 width: 20%;
}
 
.footer-distributed .footer-company-about{
 line-height: 20px;
 color:  #92999f;
 font-size: 13px;
 font-weight: normal;
 margin: 0;
}
 
.footer-distributed .footer-company-about span{
 display: block;
 color:  #ffffff;
 font-size: 14px;
 font-weight: bold;
}
 
@media (max-width: 880px) {
 
 .footer-distributed{
 font: bold 14px sans-serif;
 
 }
 
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 display: block;
 width: 100%;
 margin-bottom: 40px;
 text-align: center;
 }
 
 .footer-distributed .footer-center i{
 margin-left: 0;
 }
 .main {
 line-height: normal;
 font-size: auto;
 }
 
}